.checkbox {
    display: flex;
    align-items: center;
}

#toggle-switch[type="checkbox"] {
    display: none;
}

.toggle-label {
    width: 50px;
    height: 25px;
    background: var(--c-bg-primary);
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: auto; /
}

.toggle-label::before {
    content: "";
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 20px;
    height: 20px;
    background: var(--c-bg-secondary);
    border-radius: 50%;
    transition: transform 0.3s;
}

input[type="checkbox"]:checked + .toggle-label {
    background: #4caf50;
}

input[type="checkbox"]:checked + .toggle-label::before {
    transform: translateX(25px);
}

.status {
    margin-left: 10px;
    font-size: 16px;
}


