/* CSS for the modal */
#settings-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;

    /* Add Flexbox properties to center content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    color: var(--c-text-primary);
}

#settings-modal.show {
    opacity: 1;
    visibility: visible;
}

#back-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    color: white; /* Ensures the button is visible against the dark background */
}

#settings-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#interval {
    margin-top: 10px;
    padding: 5px;
    color: var(--c-text-primary);
}
