
.filter-container {
    position: relative;
    display: inline-block;
    z-index: 2;

}

.dropdown-content {
    top: 0;
    left: 100%;
    transform: translateX(10px);

}


.dropdown-content {
    border-radius: 20px;
    top: 0;
    left: 100%;
    right: 0;
    transform: translateX(10px);
    display: none;
    position: absolute;
    max-height: 500px;
    min-width: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    color: var(--c-text-primary);
    background-color: var(--c-bg-primary);
    z-index: 1; /* Ensure it stays above other content */
}

.dropdown-content label {
    display: block;
    cursor: pointer;
    color: var(--c-text-primary);
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.dropdown-content label:hover {
    background-color: #ddd;
}

label {
    display: flex;
    align-items: center; /* Align items vertically */
}

input[type="checkbox"] {
    margin-right: 10px; /* Add some spacing between the checkbox and the label */
}

.show {
    display: block;
}

#input-tag-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

#new-tag-input {
    height: 20px;

}

.favorite-star {
    pointer-events: none;
}


