.image-container {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
}

.dark-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 10px; /* Ensure it matches the image container's border-radius */
}

.icon{
    filter: invert(55%) sepia(0%) saturate(1269%) hue-rotate(260deg) brightness(95%) contrast(84%);
}


