.search-box{
    background-color: var(--c-bg-secondary);
    border-radius: 10px;
    color: var(--c-text-primary);
    align-self: center;
    height: 20px;
}

.actions-container{
    display: none;

}




