body {
    background-color: var(--main-background-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
        "menu header"
        "menu tags"
        "menu main"
        "menu footer";
    grid-template-columns: 1fr 10fr;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}

header {
    grid-area: header;
    padding: 20px;
    text-align: center;
}

.menu {
    grid-area: menu;
    position: fixed;
}

.tags-container {
    grid-area: tags;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}



main.gallery {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
    justify-items: center;
}
