input.search {
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: white;
    /*background: url("../images/icons/search.svg") no-repeat 13px;*/
}

.close-button{
    padding: 5px;
}




