:root{
    --secondary-color-rgb: 58, 58, 58;

}

:root {
    --active: #4CAF50;
    --c-text-primary: #191919;
    --c-text-secondary: #737374;
    --c-border-primary: #ccc;
    --c-bg-body: #ccc;
    --c-bg-primary: #fff;
    --c-bg-secondary: #d4d8dd;
    --c-bg-button: #fff;
}

:root.dark-theme {
    --active: #4CAF50;
    --c-text-primary: #858585;
    --c-text-secondary: #d3d5db;
    --c-border-primary: #454545;
    --c-bg-body: #5e5e5e;
    --c-bg-primary: #1f1f1f;
    --c-bg-secondary: #3a3a3a;
    --c-bg-button: #494a50;
}

:root.black-theme {
    --active: #4CAF50;
    --c-text-primary: #edeeef;
    --c-text-secondary: #d4d7e1;
    --c-border-primary: #323232;
    --c-bg-body: #000;
    --c-bg-primary: #1b1d23;
    --c-bg-secondary: #000001;
    --c-bg-button: #343844;
}
